* {
	box-sizing: border-box;
}

html {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
}

.app {
	text-align: center;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	font-weight: normal;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

.icon {
	margin: 0;
	padding: 0;
	background-color: white;
	border: none;
	outline: none;
}

.icon:hover {
	cursor: pointer;
}

.icon i {
	margin-left: 10px;
	font-size: 15px;
}

button {
	cursor: pointer;
}
