.container {
	max-width: 1110px;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.space-around {
	justify-content: space-around;
}

.space-between {
	justify-content: space-between;
}

.column {
	flex-direction: column;
}

.wrap {
	flex-wrap: wrap;
}

.flex-start {
	align-items: flex-start;
}

.flex-end {
	align-items: flex-end;
}

.justify-end {
	justify-content: flex-end;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-center {
	text-align: center;
}

.clean-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
