.cart-item button {
	margin: 0;
	padding: 0;
	background-color: white;
	border: none;
	outline: none;
}

.cart-item button:hover {
	cursor: pointer;
}

.cart-item i {
	margin-left: 10px;
	font-size: 15px;
}
